@media (min-width: 576px) {
    .container {
        width: 540px;
    }

    #bg-preg-wmn p {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .col-50 {
        width: 50%;
    }

    .col-25 {
        width: 25%;
    }

    .col-33 {
        width: 50%;
    }

    .main-sec {
        padding: 50px;
        margin: 0 51px;
    }

    #bg-preg-wmn {
        background: url(13PSD/images/prgntwmn.png);
    }

    #bg-preg-wmn p {
        width: 515px;
    }

    .header-img {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 950px;
    }

    .col-33 {
        width: 33.33%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1160px;
    }
}